APP_NAME=FangaBase
APP_ENV=local
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost:8000
LOG_CHANNEL=stderr
DB_CONNECTION=sqlite
DB_DATABASE=database/database.sqlite
QUEUE_CONNECTION=database
CACHE_STORE=database
SESSION_DRIVER=database
PUBLIC_ORIGIN=http://localhost:3000
CORS_ORIGINS=http://localhost:3000
